{% extends "main/base.html" %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'main/CSS/auth.css' %}">
    <link rel="stylesheet" href="{% static 'main/CSS/reg.css' %}">
    {% endblock %}
{% block content %}


    <main class="basis_head4">
        <div class="main_frame">
            <div class="main_frame_two">
                <div class="main_title">
                    <p class="p_text">ВХІД НА САЙТ</p>
                </div>
               
                {% if not user.is_authenticated %}
                  
                    <form class="fill_field" method="POST">
                        {% csrf_token %}
                        <div class="fill_field_1">
                            <input type="email" class="input_fill_field1" placeholder="Email" name="email">
                        </div>
                        <div class="fill_field_2">
                            <input type="password" class="input_fill_field2" placeholder="Пароль" name="password">
                        </div>
                        {% if error %}
                        <p class="eror">{{error}}</p>
                        {% endif %}
                    <button class="open_button">Увійти</button>
                    </form>
                
                {% endif %}
            <a href="/register/" class="open_a">Реєстрація</a>    
                
            </div>            


        </div>   
            
    </main>
{% endblock %}