{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/auth.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="head_title4">
        <div class="head_line4">
        <p class="left_icon4">JOB UA</p>
        <div class="head_settings_div4">
            <p class="right_icon4">UA | EN</p>
            <a href="/register/" class="reg4">Реєстрація</a>
        </div>
    </div>

    </header>


    <main class="basis_head4">
        <div class="main_frame">
            <div class="main_frame_two">
                <div class="main_title">
                    <p class="p_text">ВХІД НА САЙТ</p>
                </div>
               
                {% if user.is_authenticated %}
                  
                    <form class="fill_field" method="POST">
                        {% csrf_token %}
                        <div class="fill_field_1">
                            <input type="email" class="input_fill_field1" placeholder="Email" name="email">
                        </div>
                        <div class="fill_field_2">
                            <input type="password" class="input_fill_field2" placeholder="Пароль" name="password">
                        </div>
                        {% if error %}
                        <p class="eror">{{error}}</p>
                        {% endif %}
                    <button class="open_button">Увійти</button>
                    </form>
                
                {% endif %}
            <a href="/register/" class="open_a">Реєстрація</a>    
                
            </div>            


        </div>   
            
    </main>
    


    <div action="" class="bottom4">

        <form action="" class="bottom_item4">
            <i class='bx bx-phone' ></i>
            <p>Телефон Call-центр  24 /7 +380(048)158-547-58</p>
        </form>

        <form action="" class="bottom_item4">
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-telegram' ></i>
            <p>Приєднуйся в наш канал </p>
        </form>

    </div>


</body>
</html>