{% extends "main/base.html" %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static 'main/CSS/reg.css' %}">
 {% endblock %}
{% block content %}
    <main class="basis_head">
      {% for offer in offers %}
      <div class="head_pixel">
        <img src="{{offer.company.photo}}" alt="" class="img-1" />

        <form action="">
          <a href="/offerpage/{{offer.id}}/">{{offer.name}}</a>
        </form>

        <form action="" class="p-box">
          <p class="money">{{offer.min_selary}} - {{offer.max_selary}} грн</p>
          <p class="sity">{{offer.location}}</p>
          <p class="experiance">{{offer.requirements}}</p>
          <p class="description">{{offer.description}}</p>
        </form>

        <form action="" class="form-button">
          <button class="save">Зберегти</button>
          <button class="responce">Відгукнутись без резюме</button>
        </form>
      </div>
      {% endfor %}
    </main>
{% endblock %}

