{% extends "main/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/CSS/offerspage.css' %}">
<link rel="stylesheet" href="{% static 'main/CSS/reg.css' %}">
{% endblock %}

{% block content %}
    <main class="basis_head2">
        
          
        
        <form action="" class="head_basis2">
            <img src="{{offer.company.photo}}" alt="" class="img-2">
            <p class="name_bas">{{offer.name}}</p>
        </form>

        <form action="" class="additional_info">
            
            <p class="money2"><i class='bx bx-money'></i>{{offer.max_selary}} грн</p>
            
            <a href="/company/{{offer.company.id}}" class="name2"><i class='bx bx-building-house' ></i>{{offer.company.name}}</a>
            
            <p class="sity2"><i class='bx bxs-edit-location' ></i>{{offer.location}}</p>
        </form>
        
        <form action="" class="text_p1">
            <p>{{offer.description}}
            </p>
            <p>Вимоги:</p>
            <p>{{offer.requirements}}</p>
            <p>Умови роботи:</p>
            <p>
                {{offer.offers}}
            </p>
            <p>Основні обов’язки:</p>
            <p resize="none">{{offer.description}}</p>
            <p class="contact">Контактне лице компанії  {{offer.company.phone }}</p>
            <a href="" class="send_res">Відправити резюме</a>
        </form>
        
    </main>
    
{% endblock %}