{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/offers.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="head_title">
        <p class="left_icon">JOB UA</p>
        <p class="right_icon">UA | EN</p>
        <button class="reg">Вхід</button>
        <button class="reg">Реєстрація</button>

            <form action="" class="finder">
                <a href="">Шукачу</a>
                <a href="">Роботодавцю</a>
                <a href="">Тренінги</a>
            </form>

            <form action="" class="search_header">             
                <div>
                    <input type="text" class="search_header_input" placeholder="Пошук вакансії">
                </div>
                <div class="choice">
                    <input type="text" placeholder="Вибір міста" class="choice_input">
                </div>

                <div action="">
                    <i class='bx bx-search-alt-2'></i>
                    <button class="job_search">Знайти вакансію</button>  
                </div>
  
            </form>

        <form action="" class="text_p">
            <p>23548 Вакансій</p>
            <p>48627 Резюме</p>
        </form>
    </header>


    <main class="basis_head">
        <div class="head_pixel">
            <img src="/image/index.jpg" alt="" class="img-1">

            <form action="">
                <h1>Продавець-консультант</h1>
            </form>
            
            <form action="" class="p-box">
                <p class="money">10000 - 20000 грн</p>
                <p class="sity">Mandarin.com - Київ</p>
                <p class="experiance">Повна зайнятість. Досвід роботи від 1 року </p>
                <p class="description">Мережа магазинів мандарин шукає нових співробітників 
                    з розширенням робочих місць .</p>
            </form>
            
            <form action="" class="form-button">
                <button class="save">Зберегти</button>
                <button class="responce">Відгукнутись без резюме</button>
            </form>
        </div>        
        
    </main>
    


    <div action="" class="bottom">

        <form action="" class="bottom_1">
            <i class='bx bx-phone' ></i>
            <p>Телефон Call-центр  24 /7 +380(048)158-547-58</p>
        </form>

        <form action="" class="bottom_2">
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-telegram' ></i>
            <p>Приєднуйся в наш канал </p>
        </form>

    </div>


</body>
</html>