{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/offerspage.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="head_title2">
        <div class="p_head">
            <p class="right_icon2">Ваші повідомлення<i class='bx bx-message-dots' ></i></p>
            
            <p class="right_icon2">Олексій Корсун</p>
            <a href="/" class="left_icon2">JOB UA</a>
            <p class="right_icon2">UA | EN</p>     
        </div>
    </header>


    <main class="basis_head2">
        
          
        
        <form action="" class="head_basis2">
            <img src="{{offer.company.photo.url}}" alt="" class="img-2">
            <p class="name_bas">{{offer.name}}</p>
        </form>

        <form action="" class="additional_info">
            
            <p class="money2"><i class='bx bx-money'></i>{{offer.max_selary}} грн</p>
            
            <a href="/company/{{offer.company.id}}" class="name2"><i class='bx bx-building-house' ></i>{{offer.company.name}}</a>
            
            <p class="sity2"><i class='bx bxs-edit-location' ></i>{{offer.location}}</p>
        </form>
        
        <form action="" class="text_p">
            <p>{{offer.description}}
            </p>
            <p>Вимоги:</p>
            <p>{{offer.requirements}}</p>
            <p>Умови роботи:</p>
            <p>
                {{offer.offers}}
            </p>
            <p>Основні обов’язки:</p>
            <textarea resize="none">{{offer.description}}</textarea>
            <p class="contact">Контактне лице компанії  {{offer.company.phone }}</p>
            <a href="" class="send_res">Відправити резюме</a>
        </form>
        
    </main>
    


    <div action="" class="bottom2">

        <form action="" class="bottom_1">
            <i class='bx bx-phone' ></i>
            <p>Телефон Call-центр  24 /7 +380(048)158-547-58</p>
        </form>

        <form action="" class="bottom_1">
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-telegram' ></i>
            <p>Приєднуйся в наш канал </p>
        </form>

    </div>


</body>
</html>