{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/offerspage.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="head_title2">
        <div class="p_head">
            <p class="right_icon2">Ваші повідомлення<i class='bx bx-message-dots' ></i></p>
            
            <p class="right_icon2">Олексій Корсун</p>
            <p class="left_icon2">JOB UA</p>
            <p class="right_icon2">UA | EN</p>     
        </div>
    </header>


    <main class="basis_head2">
        
          
        
        <form action="" class="head_basis2">
            <img src="{% static 'main/image/index.jpg' %}" alt="" class="img-2">
            <a  href="" class="name_bas">{{offer.name}}</a>
        </form>

        <form action="" class="additional_info">
            
            <p class="money2"><i class='bx bx-money'></i>{{offer.max_selary}} грн</p>
            
            <p class="name2"><i class='bx bx-building-house' ></i>{{offer.name}}</p>
            
            <p class="sity2"><i class='bx bxs-edit-location' ></i>{{offer.location}}</p>
        </form>
        
        <form action="" class="text_p">
            <p>У зв’язку з розширенням виробництва, у цех по випуску білої та кольорової етикетки потрібен пакувальник готової продукції.
                РОБОТА ДЛЯ ЧОЛОВІКІВ.
            </p>
            <p>Вимоги:</p>
            <p>на пакувальний верстат шукаємо чоловіка, у зв’язку з фізичним навантаженням у продовж зміни;
                вік — працездатний,
                фізична витривалість,
                акуратність і уважність в межах посадових обов’язків,
                бажання навчатися та працювати обов’язкові.</p>
            <p>Умови роботи:</p>
            <p>
                стабільна торгівельно-виробнича компанія, більше ніж 15 років на ринку України,
                тільки офіційне працевлаштування з першого дня,
                своєчасна виплата заробітної плати,
                чай/кава за рахунок фірми.
                Просимо звернути увагу на місце розташування виробництва: м.Київ, вул.Бориспільська, 42 (недалеко від Дарницького вокзалу). Робоча неділя з вівторка по понеділок, потім сім днів вихідних. Початок робочого дня 7.00, завершення 19.15. На термін навчання (1 місяць) заробітна платня складає 14тисяч. Зверніть увагу, житло від підприємства не надається.
            </p>
            <p>Основні обов’язки:</p>
            <p>протягом всієї зміни у зону пакування надходить готова продукція (етикетка) у вигляді невеличких рулонів, які пакувальник пропускає через термозбіжну камеру та укладає в картонні коробки середніх розмірів,
                наклеює логістичну етикетку та складає на палети для подальшої передачі на склад готової продукції.</p>
            <p class="contact">Контактне лице компанії  +380(658)-987-84-52</p>
            <a href="" class="send_res">Відправити резюме</a>
        </form>
        
    </main>
    


    <div action="" class="bottom2">

        <form action="" class="bottom_1">
            <i class='bx bx-phone' ></i>
            <p>Телефон Call-центр  24 /7 +380(048)158-547-58</p>
        </form>

        <form action="" class="bottom_1">
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-telegram' ></i>
            <p>Приєднуйся в наш канал </p>
        </form>

    </div>


</body>
</html>