{% load static %}
<html lang="en">
<head>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/reg.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="head_title3">
        <div class="head_line3">
            <p class="left_icon3">JOB UA</p>
            <div class="head_settings_div3">
                <p class="right_icon3">UA | EN</p>
                {% if user.is_authenticated %}
                <a href="/profileredirect" class="reg">Мій профіль</a>
                {% else %}
                <a href="/auth" class="reg">Вхід</a>
                <a href="/create_company/" class="reg">Зареєструвати компанію</a>
                {% endif %}

            </div>
        </div>

    </header>


    <main class="basis_head3">
        <div class="main_frame">
            <div class="main_frame_two">
                <div class="main_title">
                    <p class="p_text">РЕЄСТРАЦІЯ НА САЙТІ</p>
                </div>
                
                
                <form class="fill_field" method="POST" action="">
                    {% csrf_token %}
                    <div class="fill_field_1">
                        <input type="email" class="input_fill_field1" placeholder="Email" name="email">
                    </div>
                    <div class="fill_field_2">
                        <input type="password" class="input_fill_field2" placeholder="Пароль" name="password" maxlength="8">
                    </div>
                    <div class="fill_field_6">
                        <input type="password" class="input_fill_field6" placeholder="Повтори пароль" name="repidpassword">
                    </div>
                    <div class="fill_field_3">
                        <input type="text" class="input_fill_field3" placeholder="Ім'я" name="lastname" maxlength="10">
                    </div>
                    <div class="fill_field_4">
                        <input type="text" class="input_fill_field4" placeholder="Прізвище" name="firstname" maxlength="10">
                    </div>
                    <div class="fill_field_5">
                        <input type="text" class="input_fill_field5" placeholder="Місто" name="location">
                    </div>


                <button class="reg_a">Зареєструватись</button>    
                </form>
                {% if error %}
                    <p class="error">{{error}}</p> 
                {% endif %}  
                         
                
                <a href="/" class="home">На головну</a>
                
            </div>            


        </div>   
            
    </main>
    


    <div action="" class="bottom3">

        <form action="" class="bottom_item3">
            <i class='bx bx-phone' ></i>
            <p>Телефон Call-центр  24 /7 +380(048)158-547-58</p>
        </form>

        <form action="" class="bottom_item3">
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-telegram' ></i>
            <p>Приєднуйся в наш канал </p>
        </form>

    </div>


</body>
</html>