{% extends "main/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/CSS/avoidance.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    <main class="basis_head2">
        <p class="avoidance_p">Вакансії</p>
        <div class="my_resume">
            <a href="/create_avoidance" class="my_resume_p">Створити вакансію</a>
        </div>
        <div class="my_reviews">
            <a href="/review_avoidance" class="my_reviews_p">Переглянути всі вакансії</a>
        </div>
        <div class="my_avoidance">
            <a href="/" class="avoidance">Вийти з акаунта</a>
        </div>
    </main>
{% endblock %}

