{% extends "main/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/CSS/finder.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    <main class="basis_head2">
        <div class="my_resume">
            <a href="/create_avoidance/" class="my_resume_p">Створити вакансію</a>
        </div>
        <div class="my_reviews">
            <a href="/review_avoidance" class="my_reviews_p">Вакансії компанії</a>
        </div>
        <div class="exit">
            <a href="/logoutuser" class="exit_p">Вийти з акаунта</a>
        </div>
    </main>
{% endblock %}

