{% extends "main/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/CSS/createavoidance.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    <main class="basis_head2">
        <div class="main_frame">
            <div class="main_frame_two">
                <div class="main_title">
                    <p class="p_text">Створити вакансію</p>
                </div>
                

                <form class="fill_field" method="post">
                    {% csrf_token %}
                    <div class="fill_field_1">
                        <input type="text" class="input_fill_field1" placeholder="Назва вакансії" name="name">
                    </div>
                    <div class="fill_field_2">
                        <input type="text" class="input_fill_field2" placeholder="Заробітня плата мінімальна (грн)" name="min_sellary">
                    </div>
                    <div class="fill_field_2">
                        <input type="text" class="input_fill_field2" placeholder="Заробітня плата максимальна (грн)" name="max_sellary">
                    </div>
                    <div class="fill_field_4">
                        <input type="text" class="input_fill_field4" placeholder="Місце знаходження" name="location">
                    </div>
                    <div class="fill_field_5">
                        <input type="text" class="input_fill_field5" placeholder="Опис вакансії" name="description">
                    </div>
                    <div class="fill_field_5">
                        <input type="text" class="input_fill_field5" placeholder="Вимоги до кандидата" name="requirements">
                    </div>
                    <div class="fill_field_5">
                        <input type="text" class="input_fill_field5" placeholder="Пропозиції для кандидата" name="offers">
                    </div>
                    <div class="fill_field_5">
                        <select name="category" class="input_fill_field5" id="">
                            <option disabled selected>Категорія вакансії</option>
                            {% for category in categories %}
                                <option value="{{category.id}}">{{category.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="button_create">Створити</button>
                </form>
               
                
                
                <a href="/" class="a_create">На головну</a>

            </div>            


        </div>   
            
    </main>
{% endblock %}

