{% extends "main/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/CSS/finder.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}


{% block content %}
    <main class="basis_head2">
        <div class="my_resume">
            <a href="/my_resume" class="my_resume_p">Мої резюме</a>
        </div>
        <div class="my_reviews">
            <a href="/my_reviews" class="my_reviews_p">Мої відгуки</a>
        </div>
        <div class="person_info">
            <a href="/personaldata" class="person_info_p">Персональні дані</a>
        </div>
        <div class="exit">
            <a href="/logoutuser" class="exit_p">Вийти з акаунта</a>
        </div>
    </main>
{% endblock %}

