{% extends "main/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/CSS/myreviews.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}


{% block content %}
    <main class="basis_head2">
       <div class="reviews_van">
            <p class="reviews_p">Мої відгуки</p>
            <div class="reviews_wind">
                <div class="resume_opex">
                    <p class="opex">вакансія відкрита</p>
                </div>
                <p class="name_res">Менеджер, 20000 грн</p>
                <div class="name_company">
                    <p class="comp">Мандарин, магазин фруктів і овочів, Київ</p>
                    <div class="date_reviews">
                        <p class="date_r">03 січня 2023, 15:46</p>
                    </div>
                </div>
            </div>
            <div class="reviews_wind">
                <div class="resume_opex">
                    <p class="opex">вакансія відкрита</p>
                </div>
                <p class="name_res">Менеджер, 20000 грн</p>
                <div class="name_company">
                    <p class="comp">Мандарин, магазин фруктів і овочів, Київ</p>
                    <div class="date_reviews">
                        <p class="date_r">03 січня 2023, 15:46</p>
                    </div>
                </div>
            </div>
            <div class="reviews_wind">
                <div class="resume_opex">
                    <p class="opex">вакансія відкрита</p>
                </div>
                <p class="name_res">Менеджер, 20000 грн</p>
                <div class="name_company">
                    <p class="comp">Мандарин, магазин фруктів і овочів, Київ</p>
                    <div class="date_reviews">
                        <p class="date_r">03 січня 2023, 15:46</p>
                    </div>
                </div>
            </div>
       </div>

    </main>
{% endblock %}

