{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/personaldata.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="head_title2">
        <div class="p_head">
            <p class="right_icon2">Ваші повідомлення<i class='bx bx-message-dots' ></i></p>           
            <p class="right_icon2">Олексій Корсун</p>
            <p class="left_icon2">JOB UA</p>
            <p class="right_icon2">UA | EN</p>     
        </div>
    </header>


    <main class="basis_head2">
       <div class="reviews_van">
            <p class="reviews_p">Особисті дані</p>
            <div class="reviews_wind">
                <div class="persdata">
                    <div class="contacndata">
                        <p>Корсун Олексій </p>  
                        <p>Місто проживання</p> 
                        <p>Адреса</p>           
                        <p>Дата народження</p>  
                        <p>Телефон</p>          
                        <p>Email</p>            
                    </div>
                    
                    <div class="dodatdata">
                        <p>Київ</p>
                        <p>вул.Перемоги 23</p>
                        <p>04.10.1997</p>
                        <p>+385914776247</p>
                        <p>persik@gmail.com</p>
                    
                    </div>
                    <img src="{% static 'main/image/1-9.jpg' %}" alt="" class="imgdata">       
                </div>  
                    
                    
                    <div class="redakt">
                        <div class="redaguv">
                            <p>Редагувати <i class='bx bxs-pencil'></i></p>
                        </div>

                        <div class="doddel">
                            <div class="dodatu">
                                <p>Додати</p>
                            </div>
                            <div class="delete">
                                <p>Видалити</p>
                            </div>
                        </div>
                    </div>
                


            </div>

            <div class="setting">
                <div class="set_password">
                    <p>Змінити пароль</p> <p class="setredakt">Редагувати<i class='bx bxs-pencil'></i></p>
                </div>
                <div class="set_email">
                    <p>Змінити email</p> <p class="setredakt">Редагувати<i class='bx bxs-pencil'></i></p>
                </div>
            </div>
            
       </div>

    </main>
    


    <div action="" class="bottom2">

        <form action="" class="bottom_1">
            <i class='bx bx-phone' ></i>
            <p>Телефон Call-центр  24 /7 +380(048)158-547-58</p>
        </form>

        <form action="" class="bottom_1">
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-telegram' ></i>
            <p>Приєднуйся в наш канал </p>
        </form>

    </div>


</body>
</html>