{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/resumefinder.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="head_title2">
        <div class="p_head">
            <p class="right_icon2">Ваші повідомлення<i class='bx bx-message-dots' ></i></p>           
            <p class="right_icon2">Олексій Корсун</p>
            <p class="left_icon2">JOB UA</p>
            <p class="right_icon2">UA | EN</p>     
        </div>
    </header>


    <main class="basis_head2">
        <div class="head_">
            <div class="head_myresume">
                <p class="head_p">Мої резюме</p>
                <a  href="" class="dodat">Додати резюме +</a>
            </div>
            <div class="window_resume">
                
                <div class="number_a">

                    <div class="left_resume">
                        <p class="name_resume">Менеджер</p>
                        <div class="left_resume2">
                            <img src="{% static 'main/image/flag.jpg' %}" alt="" class="img_resume">
                            <p class="prof">професійне резюме</p>
                        </div>
                        <p class="date_p">Дата створення резюме 05.03.2023</p>
                    </div>
                    <div class="number_bc">
                        <div class="number_bc_button">
                            <div class="number_b">
                                <p class="show_p">564 Показів</p>
                            </div>
                            <div class="number_c">
                                <p class="glas_p">579 Переглядів</p>
                            </div>
                        </div>


                        <div class="button_resume">
                            <button class="button_sity">Розмістити на сайті</button>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>

    </main>
    


    <div action="" class="bottom2">

        <form action="" class="bottom_1">
            <i class='bx bx-phone' ></i>
            <p>Телефон Call-центр  24 /7 +380(048)158-547-58</p>
        </form>

        <form action="" class="bottom_1">
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-telegram' ></i>
            <p>Приєднуйся в наш канал </p>
        </form>

    </div>


</body>
</html>