{% extends "main/base.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'main/CSS/resumefinder.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}



{% block content %}
    <main class="basis_head2">
        <div class="head_">
            <div class="head_myresume">
                <p class="head_p">Мої резюме</p>
                <a href="/avoidance/" class="dodat">Додати резюме +</a>
            </div>
            <div class="window_resume">
                
                <div class="number_a">

                    <div class="left_resume">
                        <p class="name_resume">Менеджер</p>
                        <div class="left_resume2">
                            <img src="{% static 'main/image/flag.jpg' %}" alt="" class="img_resume">
                            <p class="prof">професійне резюме</p>
                        </div>
                        <p class="date_p">Дата створення резюме 05.03.2023</p>
                    </div>
                    <div class="number_bc">
                        <div class="number_bc_button">
                            <div class="number_b">
                                <p class="show_p">564 Показів</p>
                            </div>
                            <div class="number_c">
                                <p class="glas_p">579 Переглядів</p>
                            </div>
                        </div>


                        <div class="button_resume">
                            <button class="button_sity">Розмістити на сайті</button>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>

    </main>
{% endblock %}
    
