*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.head_title{
    background: linear-gradient(88deg, rgba(97, 240, 240, 0.63) 38.85%,
    rgba(239, 231, 33, 0.57) 100%);
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 0px 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.left_icon{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 85px;
    gap: 10px;
    height: 134px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.left_icon{

    width: 50px;
    height: 132px;
    background: rgba(156, 133, 133, 0.62);
    border-radius: 100%;
    font-size: 30px;
    color: blue;
    line-height: 40px;
    letter-spacing: 5px;
}

.right_icon{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 27px;
    height: 43px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.head_line{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
}
.description{
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-height: 100px; */
    width: 100%;
}
.experiance{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;

}
.reg{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 25px;
    margin-bottom: 10px;
    width: 150px;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: rgba(0, 0, 0, 0.452);
    border-radius: 12px;
    border: none;
    background-color: #b8d3ec;
}


.finder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 70px;
    height: 42px;
    letter-spacing: 8px;
    
}

.search_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    width: 972px;
    height: 38px;
    
}

.search_header_input{
    width: 574px;
    height: 38px;
    background: #FFFFFF;
    border-radius: 5px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-size: 15px;
    border: none;
    padding-left: 5px;
    letter-spacing: 6px;
}

.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    letter-spacing: 6px;
    width: 166px;
    height: 38px;
    border: none;
    padding-left: 5px;
    font-size: 15px
    
}

select{
    color: #006905;
    height: 38px;
    width: 160px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

option{
    font-size: 15px;
    color: #171b9c;

}



.job_search{
    width: 152px;
    height: 38px;
    border: none;
    background: #70DD1B;
    border-radius: 5px;
    letter-spacing: 6px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.text_p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 88%;
    height: 30px;
    flex: none;
    order: 3;
    flex-grow: 0;
    font-size: 17px;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.76);
}
.bottom_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.head_settings_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.basis_head{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 17px;
    min-height: 808px;
    flex: none;
    padding-left: 10px;
    padding-right: 10px;
   
}

.head_pixel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 5px 0px;
    gap: 5px;
    background: #AABFC4;
    border-radius: 30px;
    padding: 15px;
}

.img-1{
    width: 110px;
    height: 110px;
    flex: none;
    border-radius: 15px;

}

h1{
    
    width: 266px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #2F36E9;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.p-box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 4px 5px 5px;
    gap: 19px;
    width: 273px;
    height: 210px;
    border: 0.5px solid #000000;
    border-radius: 20px;
    flex: none;
    border: #00000088 1.5px solid;
    align-items: center;
    font-size: 15px;
    letter-spacing: 1px;
}


.form-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 254px;
    height: 40px;
    flex: none;

}

.save{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 92px;
    height: 39px;  
    background: #48B867;
    border-radius: 10px;
    flex: none;
    border: none;
    font-size: 15px;
}

.responce{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 134px;
    height: 40px;
    background: #48B867;
    border: none;
    border-radius: 10px;
    flex: none;
    font-size: 15px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 74px 0px 10px;
    gap: 67px;
    width: 100%;
    height: 127px;
    background: rgba(96, 96, 96, 0.81);
    flex: none;
    font-size: 18px;
}

