{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/create_company.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- <script  src='{% static "main/CSS/company.js" %}'></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
</head>
<body>
    <header class="head_title2">
        <div class="p_head">
            <p class="right_icon2">Ваші повідомлення<i class='bx bx-message-dots' ></i></p>
            <p class="right_icon2">Олексій Корсун</p>
            <a href="/" class="left_icon2">JOB UA</a>
            <p class="right_icon2">UA | EN</p>     
        </div>
    </header>


    <main class="basis_head2">
        <div class="main_frame">
            <div class="main_frame_two">
                <div class="main_title">
                    <p class="p_text">Створити компанію</p>
                </div>
                

                <form class="fill_field" method="post" enctype="multipart/form-data">
                
                    {% csrf_token %}
                       
                    <div class="fill_field_1">
                        <input type="text" class="input_fill_field" placeholder="Назва компанії" name="name">
                    </div>
                    <input type="file" name="upload" accept="image" class="upload">
                    <br>

                    {% if file_url %}
                    <div  class="logotip">
                        <img src="{{ file_url }}" class="img">
                        <br>
                    </div>
                    {% endif %}
                    
                    <div class="fill_field_1">
                        <input type="text" class="input_fill_field" placeholder="Кількість робітників" name="count_workers">
                    </div>
                    <div class="fill_field_1">
                        <input type="text" class="input_fill_field" placeholder="Локація"  name="location">
                    </div>
                    <div class="fill_field_2">
                        <input type="text" class="input_fill_field" placeholder="Опис компанії" name="description">
                    </div>
                    <div class="fill_field_3">
                        <input type="text" class="input_fill_field" placeholder="Телефон компанії" name="phone" id="phone" >
                        <script>
                            $('#phone').inputmask("+38(999)-999-9999");
                        </script>
                    </div>
                    <div class="fill_field_4">
                        <input type="password" class="input_fill_field" placeholder="Пароль" name="password">
                    </div>
                    <div class="fill_field_6">
                        <input type="email" class="input_fill_field" placeholder="Емаіл" name="email">
                    </div>
                    <button class="button_create">Створити</button>
                </form>
                {% if error %}
                    <p class="error">{{error}}</p> 
                {% endif %}  
    
                
                <a href="/" class="a_create">На головну</a>

            </div>            


        </div>   
            
    </main>
    


    <div action="" class="bottom2">

        <form action="" class="bottom_1">
            <i class='bx bx-phone' ></i>
            <p>Телефон Call-центр  24 /7 +380(048)158-547-58</p>
        </form>

        <form action="" class="bottom_1">
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-telegram' ></i>
            <p>Приєднуйся в наш канал </p>
        </form>

    </div>


</body>
</html>