{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/CSS/main.css' %}" />
    <link rel="stylesheet" href="{% static 'main/CSS/maincompany.css' %}" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="head_title2">
      <div class="p_head">
        <p class="right_icon2">
          Ваші повідомлення<i class="bx bx-message-dots"></i>
        </p>
        <p class="right_icon2">Олексій Корсун</p>
        <a href="/" class="left_icon2">JOB UA</a>
        <p class="right_icon2">UA | EN</p>
      </div>
    </header>

    <main class="basis_head2">
      <div class="frame">
        <div class="mainimg">
          <img src="{{company.photo.url}}" alt="" class="imgcompany" />
        </div>
        <div class="mainname">
          <div class="namecompany">
            <h1>{{company.name}}</h1>
          </div>
          <div class="emailcompany">
            <p class="p_2">company@ukr.net</p>
          </div>
        </div>
        <div class="description">
          <h6>Опис</h6>
          <p class="p_3">{{company.description}}</p>
        </div>
        <div class="mainavoidance">
          <p class="p_4">Вакансії компанії</p>
          <div class="avoidancecompany">
            {% for offer in offers %}
            <div class="head_pixel">
              <img src="{{offer.company.photo.url}}" alt="" class="img-1" />

              <form action="">
                <a href="/offerpage/{{offer.id}}/">{{offer.name}}</a>
              </form>

              <form action="" class="p-box">
                <p class="money">
                  {{offer.min_selary}} - {{offer.max_selary}} грн
                </p>
                <p class="sity">{{offer.location}}</p>
                <p class="experiance">{{offer.requirements}}</p>
                <p class="description">{{offer.description}}</p>
              </form>

              <form action="" class="form-button">
                <button class="save">Зберегти</button>
                <button class="responce">Відгукнутись без резюме</button>
              </form>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="location">
          <p class="p_6">Штаб-квартира, Україна, Київ, вул. Перемоги, 45</p>
        </div>
      </div>
      <a href="/" class="exit">На головну</a>
    </main>

    <div action="" class="bottom2">
      <form action="" class="bottom_1">
        <i class="bx bx-phone"></i>
        <p>Телефон Call-центр 24 / 7 +380(048)158-547-58</p>
      </form>

      <form action="" class="bottom_1">
        <i class="bx bxl-instagram"></i>
        <i class="bx bxl-telegram"></i>
        <p>Приєднуйся в наш канал</p>
      </form>
    </div>
  </body>
</html>
