{% extends "main/base.html" %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/CSS/reviewavoidance2.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}
{% block content %}


    <main class="basis_head2">

          
        
       <div class="reviews_van">
            <p class="reviews_p">Мої вакансії</p>
            {% for offer in offers %}
            <div class="reviews_wind">
                <p class="name_res">{{offer.name}}, {{offer.min_selary}} грн</p>
                <div class="name_company">
                    <p class="comp">Дата створення: 03 лютого 2023, 14:25</p>
                    <div class="date_reviews">
                        <p class="date_r">HR-менеджер {{offer.surname}}, {{offer.phone}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="div_a">
                <a href="/" class="a_avoidance">На головну</a>     
            </div>   
       </div>


    </main>
    
{% endblock %} 

